modules = ["nodejs-20", "web"]

[workflows]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 25549
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CHATMODZ_ADMIN_EMAIL = "patrickndungu.pnn@gmail.com"
CHATMODZ_ADMIN_NAME = "Patrick Ndungu"

[userenv.development]
CHATMODZ_DEMO_MODE = "true"
